<div class="content-center">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-image">
          <%= image_tag "front.png" %>
        </div>
        <div class="card-content">
          <span class="card-title purple-text">School App</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because</p>
        </div>
        <div class="card-action center deep-purple lighten-5">
          <%= link_to 'START!', new_user_session_path, class:"purple-text waves-effect waves-light btn cyan lighten-1"%>
        </div>
      </div>
    </div>
  </div>
</div>

