<h1><%= @course.name %></h1>
<p><%= @course.description %></p>

<%= link_to 'Edit', edit_course_path(@course) %>
<%= link_to 'Delete', course_path(@course), 
                      method: :delete, 
                      data: { confirm: '¿are you sure? This action can not be undone'} %><br/>
